[Unit]
Description=Gemini Gateway Backend Servic
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/var/www/gemini_gateway
ExecStart=/var/www/gemini_gateway/venv/bin/uvicorn --workers 3 --uds /tmp/gunicorn_gemini_gateway.sock main:app

[Install]
WantedBy=multi-user.target
